{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="post-date">
        Опубликовано: {{ post.publish }}
        Автор: {{ post.author }}
    </p>

    {{ post.body|markdown }}
<p>
    <a href="{% url 'blog:post_share' post.id %}">
        Поделиться постом
    </a>
</p>
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} комментариев
        </h2>
    {% endwith %}

    <h2>Похожие посты</h2>
    {% for post in similar_posts %}
    <p>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
    {% empty %}
    Похожих постов нет:(
    {% endfor %}

{% for comment in comments %}
<div class="comment">
    <p class="info">
        Комментрий {{ forloop.counter }} сделан: {{ comment.name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}

    {% empty %}
    <p>Здесь пока нет комментариев, но вы можете оставить первый.</p>
</div>
{% endfor %}
{% if new_comment %}
<h2>Ваш комментарий был добавлен </h2>
{% else %}
<h2>Добавить новый комментарий </h2>
<form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Добавить комментарий"></p>
</form>
{% endif %}

{% endblock %}