{% load instagram_client %}

{% instagram_user_recent_media littledorrit23 %}

<div id="django_recent_media_wall">
  {% for media in recent_media %}
    <div class="django_instagram_media_wall_item">
      <a href="{{ media.display_src }}" target="_blank" title="{{ media.caption }}">
        <img src="{{ media.thumbnail_src }}"/>
        <span>{{ media.caption }}</span>
      </a>
    </div>
  {% endfor %}
</div>

<h1>Instagram sliding box</h1>
{% instagram_recent_media_box usename="littledorrit23" %}

