{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Мой блог{% endblock %}

{% block content %}
 {% include "pagination.html" with page=posts %}
<h1>Мой блог</h1>

    {% if  tag %}
        <h2> Посты с тегом "{{  tag.name }}"</h2>
    {% endif %}


  {% for post in posts %}
    <h2>
        <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
    </h2>
        <p class="tags"> Тэги:
            {% for tag in post.tags.all %}
                <a href='{% url "blog:post_list_by_tag" tag.slug %}'> {{ tag.name }} </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

    <p class="date">
        Опубликовано: {{ post.publish }}
        Автор: {{ post.author }}
    </p>
        {{ post.body|markdown|truncatewords_html:30 }}
  {% endfor %}

{% endblock %}