{% extends 'blog/base.html' %}

{% block title %}Поделиться постом{% endblock %}

{% block content %}
{% if sent %}
<h1> E-mail успешно отправлен</h1>
<p>
    "{{ post.title }}" был успешно отправлен {{ cd.to }}
</p>
{% else %}
<h1> Отправить "{{ post.title }}" на емейл </h1>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Отправить e-mail">
</form>
{% endif %}
    {% endblock %}