{% load blog_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!--<link href="{% static 'css/blog.css' %}" rel='stylesheet'>-->
</head>
<body>
    <div id="'content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Мой блог</h2>
        <p>Это мой блог.Уже написано {% total_posts %} постов за все время.</p>
        <p><a href="{% url 'blog:post_feed'%}"> Подписаться на RSS ленту</a> </p>
        <h3>Последние записи </h3>
        {% show_latest_posts 3 %}

        <h3>Наиболее обсуждаемые записи </h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
</body>
</html>